<div class="exit">
    <p class="exit__left">Exit</p>
    <p class="exit__right">Exit</p>
</div>

<div class="business-class">
    <p style="text-align: center; font-weight: 500;">Business</p>
<div class="d-flex justify-content-right justify-sp">
    <div class="seats">
        
    <span>
      <img
        class="float-end"
        src="assets/icons/seat-light.svg"
        alt=""
      />
    </span>
    <span>
        <img
          class="float-end"
          src="assets/icons/seat-light.svg"
          alt=""
        />
      </span>
      </div>
      <div class="seats">
        <span>
            <img
              class="float-end"
              src="assets/icons/seat-light.svg"
              alt=""
            />
          </span>
          <span>
              <img
                class="float-end"
                src="assets/icons/seat-light.svg"
                alt=""
              />
            </span>
      </div>
  </div>

  <div class="d-flex justify-content-right justify-sp">
    <div class="seats">
    <span>
      <img
        class="float-end"
        src="assets/icons/seat-light.svg"
        alt=""
      />
    </span>
    <span>
        <img
          class="float-end"
          src="assets/icons/seat-light.svg"
          alt=""
        />
      </span>
      </div>
      <div class="seats">
        <span>
            <img
              class="float-end"
              src="assets/icons/seat-light.svg"
              alt=""
            />
          </span>
          <span>
              <img
                class="float-end"
                src="assets/icons/seat-light.svg"
                alt=""
              />
            </span>
      </div>
  </div>

  <div class="d-flex justify-content-right justify-sp">
    <div class="seats">
    <span>
      <img
        class="float-end"
        src="assets/icons/seat-light.svg"
        alt=""
      />
    </span>
    <span>
        <img
          class="float-end"
          src="assets/icons/seat-light.svg"
          alt=""
        />
      </span>
      </div>
      <div class="seats">
        <span>
            <img
              class="float-end"
              src="assets/icons/seat-light.svg"
              alt=""
            />
          </span>
          <span>
              <img
                class="float-end"
                src="assets/icons/seat-light.svg"
                alt=""
              />
            </span>
      </div>
  </div>
</div>