<div class="body">
  <div class="container p-2 p-md-5">
    <div class="col-12 col-md-9 mx-auto search-outlet">
      <h3 class="text-center primal-text-blue primal-text-bold mt-4">
        Outbound
      </h3>
      <div class="position-relative">
        <app-schedule-carousel></app-schedule-carousel>
      </div>
      <div class="row">
        <app-booking-cluster></app-booking-cluster>
        <app-booking-cluster></app-booking-cluster>
      </div>
    </div>
    <div class="search-outlet">
      <h3 class="text-center primal-text-blue primal-text-bold mt-2">
        Inbound
      </h3>
      <div class="row">
        <app-booking-cluster></app-booking-cluster>
        <app-booking-cluster></app-booking-cluster>
      </div>
    </div>
  </div>
</div>
