/* .body {
  background-color: #e5e5e5;
  color: var(--primal-blue);
  width: 100vw;
  height: 100vh;
  line-height: 25.2px;
}

.card {
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.flight-time {
  font-size: 18px;
  font-weight: normal;
  color: var(--primal-blue);
}
.state-code {
  font-size: 32px;
}
.state-name {
  font-size: 12px;
}

.seats-left {
  margin-top: -5px;
}

.class-price-container {
  border-radius: 10px;
}

.price-economy-bg {
  border: 2px solid #2196f3;
  background-color: rgba(33, 150, 243, 0.1);
}

.price-business-bg {
  background: rgba(171, 104, 201, 0.1);
  border: 2px solid #ab68c9;
}

.summary-container p {
  margin-bottom: -3px !important;
} */

.booking-cluster-expansion-panel {
  margin: 1.3rem 0;
}

.badge {
  width: 119px;
  background: #8db7ff;
  border-radius: 10px;
  padding: 5px 7px;
}

.badge i {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  padding: 5px;
}

/* .summary-container p {
  margin-bottom: -3.5px !important;
} */

.modify-btn-float {
  top: -8px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modify-btn-float .badge {
  border-radius: 10px 10px 0 0;
}

/* .one-way {
  min-width: 100vw;
  min-height: 100vh;
} */
