<div class="col-12 mx-auto p-3 collapse {{classSelector}}" id="{{querySelector}}">
  <div class="card card-body text-center">
    <div class="text-center">
      <p class="pb-2 text-center border-bottom border-info border-2">
        {{indexedBookingClusters[indexOfBookingCluster].name}} ({{indexOfBookingCluster}})
      </p>
      <p class="h2 primal-text-bold text-center">N {{bookingCluster.selectedTotalCost | number : '1.2-2'}}</p>
      <p class="text-danger text-center">{{bookingCluster.selectedSeatsLeft | number}} Seats left</p>
      <button (click)="openBottomSheet(); chooseFlight();" type="button" class="btn btn-light mb-4 primal-bg">
        Select
      </button>
    </div>
    <div *ngFor="let clusterRule of bookingClusterDetail.bookingClusterRules" class="cluster-rules">
      <div class="cluster-rules-item d-flex align-items-baseline">
        <span class="me-2 icon">
          <mat-icon>{{clusterRule.icon}}</mat-icon>
        </span>
        <p class="lh-1 text-small">
          {{clusterRule.text}}
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Modify Flight Search Modal -->
<!-- Modal -->
<div class="modal fade" id="modifysearchModal" tabindex="-1" aria-labelledby="modifysearchModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modifysearchModalLabel">
          Edit flight search criteria
        </h4>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-flight-search></app-flight-search>
      </div>
    </div>
  </div>
</div>
<!-- Modify Flight Search Modal End-->