<form [formGroup]="oneWayForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="row">
    <div class="col-12 col-md-5 mb-3">
      <div class="d-flex align-items-center input-wrapper position-relative">
        <label class="text-small light-weight text-input-hint" for=""
          >{{ oneWayForm.value.tripType }} Where are you flying from?</label
        >
        <span class="me-3"
          ><img src="assets/icons/plane-take-off.svg" alt=""
        /></span>
        <input
          hidden
          type="text"
          class=""
          placeholder="Origin"
          formControlName="origin"
        />
        <input
          type="text"
          placeholder="Origin"
          aria-label="Number"
          matInput
          [formControl]="originControl"
          [matAutocomplete]="originAutoDropdown"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #originAutoDropdown="matAutocomplete"
          (optionSelected)="selectedOrigin($event)"
        >
          <mat-option
            *ngFor="let option of filteredOriginOptions | async"
            [value]="option.extra"
          >
            {{ option.extra.city.name }}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
    <div class="d-none col-md-2 d-md-flex input-wrapper-rounded">
      <i class="bi bi-arrow-left-right"></i>
    </div>
    <div class="col-12 col-md-5 mb-3">
      <div class="d-flex align-items-center input-wrapper position-relative">
        <label class="text-small light-weight text-input-hint" for=""
          >Where are you flying to??</label
        >
        <span class="me-3"
          ><img src="assets/icons/plane-land.svg" alt=""
        /></span>
        <input
          hidden
          type="text"
          class=""
          placeholder="Destination"
          formControlName="destination"
        />
        <input
          type="text"
          placeholder="Destination"
          aria-label="Number"
          matInput
          [formControl]="destinationControl"
          [matAutocomplete]="destinationAutoDropdown"
        />
        <mat-autocomplete
          autoActiveFirstOption
          #destinationAutoDropdown="matAutocomplete"
          (optionSelected)="selectedDestination($event)"
        >
          <mat-option
            *ngFor="let option of filteredDestinationOptions | async"
            [value]="option.extra"
          >
            {{ option.extra.city.name }}
          </mat-option>
        </mat-autocomplete>
      </div>
    </div>
    <!-- <div class="col-12 col-md-5 mb-3">
      <div class="d-flex align-items-center input-wrapper position-relative">
        <label class="text-small light-weight text-input-hint" for=""
          >Where are you flying to?</label
        >
        <span class="me-3"
          ><img src="assets/icons/plane-land.svg" alt=""
        /></span>
        <input
          type="text"
          class=""
          placeholder="Destination"
          formControlName="destination"
        />
      </div>
    </div> -->
    <div class="col-12 col-md-6 mb-3">
      <div
        class="d-flex align-items-center input-wrapper position-relative"
        mat-button
        [matMenuTriggerFor]="menu"
      >
        <label class="text-small light-weight text-input-hint" for=""
          >Passengers</label
        >
        <span class="me-3"
          ><img src="assets/icons/passenger.svg" alt=""
        /></span>
        <p
          class="
            text-small
            light-weight
            passenger-types
            d-flex
            justify-content-space-evenly
          "
        >
          <span
            class="text-small light-weight"
            *ngIf="!oneWayForm.get('passengers').valid"
            >Click here to add Passengers
          </span>
          <span class="text-small light-weight" *ngIf="noAdult"
            >{{ noAdult }}
          </span>
          <span class="text-small light-weight" *ngIf="noChild"
            >{{ noChild }}
          </span>
          <span class="text-small light-weight" *ngIf="noInfant"
            >{{ noInfant }}
          </span>
        </p>
      </div>

      <mat-menu #menu="matMenu">
        <app-passenger-type-dropdown
          (passengerNumbersFormValue)="
            getPassengersFormDropDownFormValues($event)
          "
        ></app-passenger-type-dropdown>
      </mat-menu>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <div class="d-flex align-items-center input-wrapper position-relative">
        <label
          class="text-small light-weight text-input-hint"
          for="departureDate"
          >Departure Date</label
        >
        <span class="me-3"
          ><img src="assets/icons/calender2.svg" alt=""
        /></span>
        <input
          type="date"
          class=""
          placeholder="17th Nov 2021"
          formControlName="departureDate"
          name="departureDate"
        />
      </div>
    </div>

    <div class="d-grid gap-2">
      <button
        [disabled]="!oneWayForm.valid"
        class="btn primal-bg text-white btn-lg"
        type="submit"
      >
        Search Flight
      </button>
    </div>
  </div>
</form>
