.dts-no-select {
    user-select: none;
  }
  
  .dts-select-box {
    background: rgba(125, 218, 252, 0.3);
    border: 2px solid currentColor;
    contain: layout;
    transform: translateZ(0);
    box-sizing: border-box;
    color: #7ddafc;
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    opacity: 0;
    z-index: 1;
  }
  .dts-select-box.dts-removing {
    background: rgba(125, 218, 252, 0.3);
    border: 2px solid #7ddafc;
  }
  
  .dts-select-container:not(.dts-custom) .dts-select-item.selected {
    border: 1px solid #d2d2d2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
  .dts-select-container:not(.dts-custom) .dts-select-item.dts-range-start {
    border: 1px solid #2196f3;
  }
  
  .seats-row{
    display: flex;
    flex-direction: row;
  }

  .d-flex{
    display: flex;
    flex-direction: column;
  }

  .justify-sp {
    justify-content: space-between!important;
    align-items: center!important;
  }

  .btn-seat {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #5d68b9 !important;
  }

.seats > span >img {
    padding: 25px;
    background-color: #5661b0;
    margin: 7px 7px;
    border-radius: 10px;
}

.seats > button {
    padding: 25px;
    background-color: #5661b0;
    margin: 7px 7px;
    border-radius: 10px;
}

.business-class {
    background-color: #D0D1D8;
    border-radius: 15px;
    padding: 7px;
    padding-top: 30px;
    margin: 25px 0;
}

.seats > span > img:hover {
    background-color: #050a30;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.seats > button:hover {
    background-color: #050a30;
    color: #D0D1D8;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.exit {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px;
}
.exit > p {
    font-weight: 800;
    color: #D0D1D8;
    font-size: 20px;
}

.selected_seat{
    background-color:#050a30;
}

.home-tab .mat-tab-label.mat-tab-label-active .mat-tab-label-content {
  background-color: var(--primal-blue);
  color: #ffffff;
  display: inline-flex;
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 10px 10px 0 0;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.home-tab .mat-ink-bar.mat-ink-bar {
  display: none;
}

.home-tab .mat-tab-label {
  opacity: 1 !important;
}

.home-tab .mat-tab-header {
  min-width: 318px;
  height: 55px;
  background-color: #ffffff;
  border-radius: 15px 15px 0px 0px;
}