<!-- <div class="container-fluid home">
    <div class="row align-items-center">
      <div>
        <app-flight-search></app-flight-search>
      </div>
    </div>
</div> -->



<div class="container-fluid home">
  <div class="row align-items-center">
    <div class="row d-flex align-items-center justify-content-center mt-5">
      <div class="col-12 col-lg-10 justify-content-center">
        <mat-tab-group class="home-tab">
          <mat-tab label="Flights">
            <app-flight-search></app-flight-search>
          </mat-tab>
          <mat-tab label="Checkin">
            <app-checkin-form></app-checkin-form>
          </mat-tab>
          <mat-tab label="Booking">
            <app-search-booking></app-search-booking>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>