<mat-card class="example-card">
    <mat-card-content>
        <!-- <form class=""> -->
            <div class="row">
                <!-- <div class="col-12 mb-3">
                    <div class="
                        d-flex
                        align-items-center
                        input-wrapper
                        position-relative
                    ">
                        <label class="text-small light-weight text-input-hint" for="">Reference Number</label>
                        <span class="me-3"><img src="assets/icons/ref-number.svg" alt="" /></span>
                        <input type="text" class="" />
                    </div>
                </div> -->
                <div class="col-12 mb-3">
                    <div class="d-flex align-items-center input-wrapper position-relative">
                      <label class="text-small light-weight text-input-hint" for="">Reference Number</label>
                      <span class="me-3"><img src="assets/icons/ref-number.svg" alt="" /></span>
                      <input type="text" class="" [(ngModel)]="pnrToSearch" />
                    </div>
                  </div>
                <!-- <div class="col-12 mb-3">
                    <div class="
                    d-flex
                    align-items-center
                    input-wrapper
                    position-relative
                    ">
                        <label class="text-small light-weight text-input-hint" for="">Last Name</label>
                        <span class="me-3"><img src="assets/icons/passenger.svg" alt="" /></span>
                        <input type="text" class="" />
                    </div>
                </div> -->
                <div class="col-12 mb-3">
                    <div class="d-flex align-items-center input-wrapper position-relative">
                      <label class="text-small light-weight text-input-hint" for="">Last Name</label>
                      <span class="me-3"><img src="assets/icons/passenger.svg" alt="" /></span>
                      <input type="text" class="" [(ngModel)]="lastName" />
                    </div>
                  </div>
                <!-- <div class="d-grid gap-2">
                    <button routerLink="/manage-booking" class="btn primal-bg text-white btn-lg" type="submit">
                        Search Ticket
                    </button>
                </div> -->
                <div class="d-grid gap-2">
                    <!-- routerLink="/manage-booking/pnr" -->
                    <button
                      class="btn primal-bg text-white btn-lg spinner"
                      (click)="searchPNR($event)"
                      [disabled]="!pnrToSearch || !lastName || isLoading"
                    >
                    <mat-spinner diameter="25" *ngIf="isLoading"></mat-spinner>
                    <span *ngIf="isLoading"> Requesting... </span>
                    <span *ngIf="!isLoading"> Search Ticket </span>
                      
                    </button>
                  </div>
            </div>
        <!-- </form> -->
    </mat-card-content>
</mat-card>