<!-- <app-spinner *ngIf="isLoading"></app-spinner> --/>
<div class="row d-flex align-items-center justify-content-center mt-5">
  <div class="col-12 col-lg-10 justify-content-center">
    <mat-tab-group>
      <!-- <mat-tab label="Flights">
        <mat-card class="example-card">
          <mat-card-content>
            <form [formGroup]="tripTypeForm" (ngSubmit)="submit()">
              <div class="col-12 d-flex my-3">
                <div class="ms-3">
                  <label>
                    <input
                      type="radio"
                      class="option-input radio"
                      name="tripType"
                      formControlName="tripType"
                      (change)="changeTripTypeHandler($event)"
                      value="oneWay"
                      id="tripType"
                      [(ngModel)]="isSelected"
                    />
                    One Way
                  </label>
                </div>
                <div class="ms-3">
                  <label>
                    <input
                      type="radio"
                      class="option-input radio"
                      name="tripType"
                      formControlName="tripType"
                      (change)="changeTripTypeHandler($event)"
                      value="roundTrip"
                      id="tripType"
                      [(ngModel)]="isSelected"
                    />
                    Round Trip
                  </label>
                </div>
              </div>
            </form>
            <app-one-way-search-form
              *ngIf="isSelected === 'oneWay'"
            ></app-one-way-search-form>
            <app-round-trip-search-form
              *ngIf="isSelected === 'roundTrip'"
            ></app-round-trip-search-form>
          </mat-card-content>
        </mat-card>
      </mat-tab> --/>
      <mat-tab label="Check-In">
        <mat-card class="example-card">
          <mat-card-content>
            <form class="">
              <div class="row">
                <div class="col-12 mb-3">
                  <div
                    class="d-flex align-items-center input-wrapper position-relative"
                  >
                    <label
                      class="text-small light-weight text-input-hint"
                      for=""
                      >Reference Number</label
                    >
                    <span class="me-3"
                      ><img src="assets/icons/ref-number.svg" alt=""
                    /></span>
                    <input type="text" class="" />
                  </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <div
                    class="d-flex align-items-center input-wrapper position-relative"
                  >
                    <label
                      class="text-small light-weight text-input-hint"
                      for=""
                      >First Name</label
                    >
                    <span class="me-3"
                      ><img src="assets/icons/passenger.svg" alt=""
                    /></span>
                    <input type="text" class="" />
                  </div>
                </div>
                <div class="col-12 col-md-6 mb-3">
                  <div
                    class="d-flex align-items-center input-wrapper position-relative"
                  >
                    <label
                      class="text-small light-weight text-input-hint"
                      for=""
                      >Last Name</label
                    >
                    <span class="me-3"
                      ><img src="assets/icons/passenger.svg" alt=""
                    /></span>
                    <input type="text" class="" />
                  </div>
                </div>
                <div class="d-grid gap-2">
                  <button class="btn primal-bg text-white btn-lg" type="submit">
                    Submit
                  </button>
                </div>
              </div>
            </form>
          </mat-card-content>
        </mat-card>
      </mat-tab>
      <mat-tab label="Bookings">
        <mat-card class="example-card">
          <mat-card-content>
            <!-- <form class=""> --/>
            <div class="row">
              <div class="col-12 mb-3">
                <div
                  class="d-flex align-items-center input-wrapper position-relative"
                >
                  <label class="text-small light-weight text-input-hint" for=""
                    >Reference Number</label
                  >
                  <span class="me-3"
                    ><img src="assets/icons/ref-number.svg" alt=""
                  /></span>
                  <input type="text" class="" [(ngModel)]="pnrToSearch" />
                </div>
              </div>
              <div class="col-12 mb-3">
                <div
                  class="d-flex align-items-center input-wrapper position-relative"
                >
                  <label class="text-small light-weight text-input-hint" for=""
                    >Last Name</label
                  >
                  <span class="me-3"
                    ><img src="assets/icons/passenger.svg" alt=""
                  /></span>
                  <input type="text" class="" [(ngModel)]="lastName" />
                </div>
              </div>
              <div class="d-grid gap-2">
                <!-- routerLink="/manage-booking/pnr" --/>
                <button
                  class="btn primal-bg text-white btn-lg spinner"
                  (click)="searchPNR($event)"
                  [disabled]="!pnrToSearch || !lastName || isLoading"
                >
                <mat-spinner diameter="25" *ngIf="isLoading"></mat-spinner>
                <span *ngIf="isLoading"> Requesting... </span>
                <span *ngIf="!isLoading"> Search Ticket </span>
                  
                </button>
              </div>
            </div>
            <!-- </form> --/>
          </mat-card-content>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div> -->


<form [formGroup]="flightSearchForm" (ngSubmit)="onSubmit()" novalidate>
  <mat-card class="example-card">
    <mat-card-content>
      <div class="col-12 d-flex my-3">
        <div class="ms-3">
          <label>
            <input type="radio" class="option-input radio" name="tripType" formControlName="tripType"
              (change)="changeTripTypeHandler($event)" value="oneWay" />
            One Way
          </label>
        </div>
        <div class="ms-3">
          <label>
            <input type="radio" class="option-input radio" name="tripType" formControlName="tripType"
              (change)="changeTripTypeHandler($event)" value="roundTrip" />
            Round Trip
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col-12 col-md-5 mb-3">
          <div class="
              d-flex
              align-items-center
              input-wrapper
              position-relative
            ">
            <label class="text-small light-weight text-input-hint" for="">Where are you flying from?</label>
            <span class="me-3"><img src="assets/icons/plane-take-off.svg" alt="" /></span>
            <input hidden type="text" formControlName="origin" placeholder="Origin" />
            <input type="text" placeholder="Origin" aria-label="Number" matInput [formControl]="originControl"
              [matAutocomplete]="originAutoDropdown" />
            <mat-autocomplete autoActiveFirstOption #originAutoDropdown="matAutocomplete"
              (optionSelected)="selectedOrigin($event)">
              <mat-option *ngFor="let option of filteredOriginOptions | async" [value]="option.extra">
                {{ option.extra.city.name | uppercase }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="d-none  d-md-flex input-wrapper-rounded">
          <i class="bi bi-arrow-left-right"></i>
        </div>
        <div class="col-12 col-md-5 mb-3">
          <div class="
              d-flex
              align-items-center
              input-wrapper
              position-relative
            ">
            <label class="text-small light-weight text-input-hint" for="">Where are you flying to?</label>
            <span class="me-3"><img src="assets/icons/plane-land.svg" alt="" /></span>
            <input hidden type="text" formControlName="destination" placeholder="Destination" />
            <input type="text" placeholder="Destination" aria-label="Number" matInput [formControl]="destinationControl"
              [matAutocomplete]="destinationAutoDropdown" />
            <mat-autocomplete autoActiveFirstOption #destinationAutoDropdown="matAutocomplete"
              (optionSelected)="selectedDestination($event)">
              <mat-option *ngFor="
                  let option of filteredDestinationOptions | async
                " [value]="option.extra">
                {{ option.extra.city.name | uppercase }}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        <div class="col-12 mb-3" [ngClass]="{
            'col-md-6': flightSearchForm.value.tripType == 'oneWay',
            'col-md-4': flightSearchForm.value.tripType == 'roundTrip'
          }">
          <div class="
              d-flex
              align-items-center
              input-wrapper
              position-relative
            " mat-button [matMenuTriggerFor]="menu">
            <label class="text-small light-weight text-input-hint" for="">Passengers</label>
            <span class="me-3"><img src="assets/icons/passenger.svg" alt="" /></span>
            <p class="
                text-small
                light-weight
                passenger-types
                d-flex
                justify-content-space-evenly
              ">
              <span class="text-small light-weight" *ngIf="!flightSearchForm.get('passengers').valid">Click here to add
                Passengers
              </span>
              <span class="text-small light-weight" *ngIf="noAdult">{{ noAdult }}
              </span>
              <span class="text-small light-weight" *ngIf="noChild">{{ noChild }}
              </span>
              <span class="text-small light-weight" *ngIf="noInfant">{{ noInfant }}
              </span>
            </p>
          </div>

          <mat-menu #menu="matMenu">
            <app-passenger-type-dropdown (passengerNumbersFormValue)="
                getPassengersFormDropDownFormValues($event)
              "></app-passenger-type-dropdown>
          </mat-menu>
        </div>
        <div class="col-12 mb-3" [ngClass]="{
            'col-md-6': flightSearchForm.value.tripType == 'oneWay',
            'col-md-4': flightSearchForm.value.tripType == 'roundTrip'
          }">
          <div class="
              d-flex
              align-items-center
              input-wrapper
              position-relative
            ">
            <label class="text-small light-weight text-input-hint" for="departureDate">Departure Date</label>
            <span class="me-3"><img src="assets/icons/calender2.svg" alt="" /></span>
            <input type="date" formControlName="departureDate" placeholder="17th Nov 2021" />
          </div>
        </div>
        <div class="col-12 col-md-4 mb-3" *ngIf="
            flightSearchForm.controls.tripType.value == 'roundTrip'
          ">
          <div class="
              d-flex
              align-items-center
              input-wrapper
              position-relative
            ">
            <label class="text-small light-weight text-input-hint" for="returnDate">Return Date</label>
            <span class="me-3"><img src="assets/icons/calender2.svg" alt="" /></span>
            <input type="date" formControlName="returnDate" placeholder="17th Nov 2021" />
          </div>
        </div>
        <div class="d-grid gap-2">
          <button [disabled]="!flightSearchForm.valid" class="btn primal-bg text-white btn-lg" type="submit">
            Search Flight
          </button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</form>
